.containerFooter{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100px;
    background-color:#00873e;
    cursor:pointer;
    position: absolute;
    bottom:0
}